.navbar {
  background-color: #BF5700;
}

.search-box{
  background-color:  #BF5700;
  padding: 10px;
}

label{
  color: white;
  -webkit-text-stroke: 0.2px black;
}

body {
  background-image: url("../background_images/background.png");
  background-size: 1300px 700px;
  background-blend-mode: darken;
  background-color:#707070;
 }

 td,h4{
   color: white;
 }

h4{-webkit-text-stroke: 0.3px black;}

 tr, h1{
  color: #FFE4C4; 
 }
